 :root {
	--primary-color: #00c7c3;
	--primary-dark: #062832;
	--text-light: #666;
	--white: #ffffff;
	--background: #ffffff;
	--error-color: #e74c3c;
}

* {
	margin: 0;
	padding: 0;
}

.particles {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 0;
}

.particle {
	position: absolute;
	border-radius: 50%;
	background: var(--primary-color);
	opacity: 0.3;
	animation: float 15s infinite ease-in-out;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0) translateX(0);
	}
	25% {
		transform: translateY(-100px) translateX(50px);
	}
	50% {
		transform: translateY(-200px) translateX(-30px);
	}
	75% {
		transform: translateY(-100px) translateX(-50px);
	}
}

#main {
    padding: 40px;
}
#nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav ul {
	max-width: 1028px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
}

#nav ul li {
	list-style: none;
	margin: 0 20px;
	width: fit-content;
	
}

.navlink:hover {
	background-color: #00000011;
}

.accordion-link:nth-of-type(1) {
	margin-top: 12px;
}