name: Deploy PR previews

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - closed

concurrency: preview-${{ github.ref }}

jobs:
    deploy-preview:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: npm
                cache-dependency-path: webpage/package-lock.json
            - name: Install
              if: github.event.action != 'closed'
              working-directory: webpage
              run: |
                  npm ci
            - name: Test
              working-directory: webpage
              run: npm run coverage
            - name: Upload coverage report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: webpage/coverage
            - name: Build
              if: github.event.action != 'closed'
              working-directory: webpage
              env:
                BASE_PATH: /${{ github.event.repository.name }}/pr-preview/pr-${{ github.event.pull_request.number }}/
              run: | 
                  npm run build

            - name: Deploy preview
              uses: rossjrw/pr-preview-action@v1
              with:
                  source-dir: ./webpage/dist/
                  preview-branch: gh-pages
                  qr-code: true