name: Deploy
on:
    push:
        branches:
            - main
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: 20
                cache: npm
                cache-dependency-path: package-lock.json
            - name: Install
              working-directory: webpage
              run: npm ci
            - name: Test
              working-directory: webpage
              run: npm run coverage
            - name: Upload coverage report
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: webpage/coverage
            - name: Build
              working-directory: webpage
              run: npm run build
            - uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: ./webpage/dist
                  branch: gh-pages
                  clean-exclude: pr-preview
                  force: false